.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: fit-content;
  margin: auto;
  padding: 1rem;
}


h3,
h2 {
  color: #9966cc;
}

h2 {
  font-size: 2rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5%;
}

.content h3 {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  color: #cb00f5;
  text-shadow: 0px 0px 10px #00c2cb50, 0px 0px 20px #00c2cb50;
  margin: 3px;
  transition: ease 0.3s;
}
.content h3::before {
  content: "";
  position: absolute;
  top: 80%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #cb00f5;
  transform: perspective(10px) rotateX(10deg) scale(1, 0.2);
  filter: blur(1em);
  opacity: 0.5;
}
.content h3:hover {
  color: #fff;
  text-shadow: 0px 0px 10px #cb00f5, 0px 0px 20px #cb00f5;
}
.content h3:hover::before {
  opacity: 1;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3.5rem;
  width: 20rem;
  margin-top: 5%;
  border-left: 2px solid #3f3f3f;
  border-right: 2px solid #3f3f3f;
  text-align: center;
  border-radius: 8px;
  /* height: 10rem; */
}

.button-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

button {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #9395ff;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

button::before,
button::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

button::before {
  left: -10px;
  background: #240046;
}

button::after {
  right: -10px;
  background: #5a189a;
}

button:hover::before,
button:hover::after {
  width: 58%;
}

button:hover span {
  color: #e0aaff;
  transition: 0.3s;
}

button span {
  color: #03045e;
  font-size: 18px;
  transition: all 0.3s ease-in;
}
  
  @media (max-width: 768px) {
    .content h3 {
      font-size: 1.5rem;
    }
  
    .main-section {
      width: 70%;
      /* height: 80%; */
      padding: 2rem;
    }
  
    button {
      width: 130px;
      height: 45px;
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .content h3 {
      font-size: 1.4rem;
    }
  
    .main-section {
      width: 50%;
      /* height: 70%; */
      padding: 1.5rem;
    }
  
    button {
      width: 120px;
      height: 40px;
      font-size: 14px;
    }
  }